{% extends 'base_generic.html' %}

{% load static %}

{% block title %} <title>Reader | My borrowed</title> {% endblock title %}

{% block content %}
<section class="section">
	<div class="py-4"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-8  mb-5 mb-lg-0">
				<h1 class="h2 mb-4">Books borrowed by {{ user.get_username }} </h1>
				{% if bookinstance_list %}

				{% for bookinst in bookinstance_list %}

				<article class="card mb-4">
					<div class="row card-body">
						<div class="col-12">
							<h3 class="h4 mb-3"><a class="post-title"
									href="{% url 'book-detail' bookinst.book.pk %}">{{ bookinst.book.title }}</a></h3>

							<p class='text-muted'><strong>Id: </strong>{{ bookinst.id }}</p>
							<p><strong>Imprint:</strong> {{ bookinst.imprint }} </p>

							<p class="{% if bookinst.is_overdue %}text-danger{% endif %}"><strong>Due date:</strong>
								{{ bookinst.due_back }}</p>


							{% comment %} <a href="#" class="btn btn-outline-primary">Renew Book</a> {% endcomment %}
						</div>
					</div>
				</article>

				{% endfor %}

				<!-- Pagination -->
				<ul class="pagination justify-content-center">
					{% if is_paginated %}
					<li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
						<a class="page-link"
							href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
							aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					{% for page_num in page_obj.paginator.page_range %}
					<li class="page-item {% if page_num == page_obj.number %}active{% endif %}">
						<a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
					</li>
					{% endfor %}
					<li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
						<a class="page-link"
							href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"
							aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
					{% endif %}
				</ul>
				{% else %}
				<article class="card mb-4">
					<div class="row card-body">
						<div class="col-12">
							<h3 class="h4 mb-3">There are no borrowed books.</h3>
						</div>
					</div>
				</article>
				{% endif %}
			</div>

			<aside class="col-lg-4 sidebar-inner">
				<!-- Search -->
				<div class="widget">
				  <h4 class="widget-title"><span>Search</span></h4>
				  <form action="{% url 'book-search' %}" class="widget-search">
					<input class="mb-3" id="search-query" name="q" type="search" placeholder="Type &amp; Hit Enter...">
					<i class="ti-search"></i>
					<button type="submit" class="btn btn-primary btn-block">Search</button>
				  </form>
				</div>
		
				<!-- Social -->
				<div class="widget">
				  <h4 class="widget-title"><span>Social Links</span></h4>
				  <ul class="list-inline widget-social">
					{% comment %} <li class="list-inline-item"><a href="#"><i class="ti-facebook"></i></a></li> {% endcomment %}
					<li class="list-inline-item"><a target="blank" href="https://twitter.com/AdewoleDaniel15"><i class="ti-twitter-alt"></i></a></li>
					<li class="list-inline-item"><a target="blank" href="https://linkedin.com/in/daniel-adewole-b27285189/"><i class="ti-linkedin"></i></a></li>
					<li class="list-inline-item"><a target="blank" href="https://github.com/DanAdewole"><i class="ti-github"></i></a></li>
					{% comment %} <li class="list-inline-item"><a href="#"><i class="ti-youtube"></i></a></li> {% endcomment %}
				  </ul>
				</div>
			  </aside>

		</div>
	</div>
</section>
{% endblock content %}